# Ignore secrets and local configs
secrets.py

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Thonny project settings
.thonny/

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*~